body
{
    background: linear-gradient(-45deg, #ff43b7, #ff43b7, rgb(255, 196, 0),rgb(255, 196, 0));
    background-size: 400% 400%;
    animation: movegradient 15s ease infinite;
    /* hey look at me im coding its not like i had a whole unit in class about this*/
    font-family: sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
}
@keyframes movegradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.title
{
    
    text-align: center;
    align-self: center;
    font-size: large;
    animation: fadein 0.6s ease-in-out forwards;
    background-color: #070818;
    border-radius: 40px;
    width: 600px;
}

@keyframes fadein {
        from {
            opacity: 0;
            transform: translateY(30px)
        }
        to {
            opacity: 1;
            transform: translateY(0)
        }
    }
.about
{
    padding-left: 30px;
    padding-right: 30px;
    text-align: left;
    width: fit-content;
    background-color: #070818;
    border-radius: 40px;
    animation: fadein 0.6s ease-in-out forwards;
}
.favoriteg
{
    padding-left: 30px;
    padding-right: 30px;
    text-align: left;
    width:auto;
    background-color: #070818;
    border-radius: 40px;
    animation: fadein 0.6s ease-in-out forwards;
    margin-top: 20px;
    
}
.scroll
{
    overflow-y: hidden;
    overflow-x:auto;
    text-align: left;
    background-color: #070818;
    border-radius: 40px;
    animation: fadein 0.6s ease-in-out forwards;
    height: 370px;
    flex-direction:row;
    white-space: nowrap;
}
img
{
    padding-left: 30px;
    width: 250px;
    height: 350px;
}

